:root {
    --black: #303633;
    --blue: #48A9A6;
    --beige: #E4DFDA;
    --pink: #DE667A;
    --ligth-blue: #8BE8CB;
    --xs: 14px;
    --sm: 16px;
    --md: 18px;
    --lg: 20px;
    --xl: 24px;
}