.footer-bar {
    background: var(--beige);
    height: 70px;
    width: 100%;
    position: fixed;
    margin: none;
    padding: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    padding-bottom: 5px;
}
.logo-black {
    width: 60px;
    border: none;
    border-radius: 55px;
    margin: 4px;
}
.fb-icon {
    width: 20px;
}
.ig-icon {
    width: 20px;
}